* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: lightgrey;
}

main {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 150px;
    height: 230px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2rem;
}

.content {
    width: 143px;
    height: 223px;
    background-color: rgb(244, 243, 243);
    border-radius: .1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .3rem;
}

.top p:first-child,
.middle,
.bottom p:first-child {
    color: crimson;
    font-size: xx-small;
}

.middle {
    font-size: 26px;
    align-self: center;
}

.top p:last-child,
.bottom p:last-child {
    font-size: 8px;
    font-weight: 700;
}

.bottom {
    align-self: end;
    transform: rotate(180deg);
}
